@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Public Sans';
  src: url('../src/fonts/public-sans/PublicSans-Black.ttf') format('truetype');
  font-weight: 900; /* Black weight */
}

@font-face {
  font-family: 'Public Sans';
  src: url('../src/fonts/public-sans/PublicSans-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold weight */
}

@font-face {
  font-family: 'Public Sans';
  src: url('../src/fonts/public-sans/PublicSans-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium weight */
}

@font-face {
  font-family: 'Public Sans';
  src: url('../src/fonts/public-sans/PublicSans-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular weight */
}

@font-face {
  font-family: 'Public Sans';
  src: url('../src/fonts/public-sans/PublicSans-SemiBold.ttf') format('truetype');
  font-weight: 600; /* Semibold weight */
}

@font-face {
  font-family: 'Public Sans';
  src: url('../src/fonts/public-sans/PublicSans-Light.ttf') format('truetype');
  font-weight: 300; /* Light weight */
}

body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
table.table>tbody>tr:hover label,
table.table>tbody>tr:hover td,
table.table>tbody>tr:hover th{
  background-color: #F6F4FC !important;
}

.table {
  border-radius: 0;
} 